*.iml
.gradle
/local.properties
/.idea/
!/.idea/codeStyleSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

/app/src/main/assets/licenses.html

# certificates
app.release.jks
app/google-services.json
secret.properties
google-play-service.json
signature.tar.gz
